# https://editorconfig.org/

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.py]
max_line_length = 120
quote_type = double

[*.{yml,yaml}]
indent_size = 2

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
