[flake8]
max-line-length = 120
extend-ignore =
    E501,
    W503,
max-complexity = 10
select = B,C,E,F,W
exclude =
    .git,
    __pycache__,
    build,
    dist,
    migrations,
    venv,
    .venv,
    .eggs,
    *.egg
