dist: xenial
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"
  - "pypy"
  - "pypy3"
  - "pypy3.5"

install:
  - pip install coveralls
  - pip install -r requirements.txt

script:
  py.test --cov=persiantools tests/

after_success:
  coveralls
