[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "==5.5"
pytest = "==6.2.2"
pytest-cov = "==2.11.1"
pytz = "==2021.1"
pre-commit = "==2.10.1"

[requires]
python_version = "3"
