[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2021.1"

[dev-packages]
coverage = "==5.5"
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
pre-commit = "==2.15.0"

[requires]
python_version = "3"
